ul {
	list-style-type: none;
}

li {
	font-size: 1.5em;
}

h1 {
	margin-bottom: 40px;
}

#new-shelf-name {
	margin-bottom: 60px;
}

#new-books {
	margin-bottom: 30px;
}

#buttons {
	text-align: center;
}

#show-shelf-contents {
    display: none;
}

.shelf {
    cursor: pointer;
    color: #0088cc;
}

.shelf:hover {
    text-decoration: underline;
}

